{% load static %}
<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>PM2SIM</title>
	<link href="{% static 'css/output.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
<div class="drawer break-words hyphens-auto">
	<input id="drawer" type="checkbox" class="drawer-toggle" />
	<div class="drawer-content flex flex-col">
		<!-- Navbar -->
		<div class="navbar w-full bg-neutral rounded-box" data-theme="dark">
			<div class="flex-none lg:hidden">
				<label for="drawer" class="btn btn-square btn-ghost">
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
					     class="inline-block w-6 h-6 stroke-current">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
						      d="M4 6h16M4 12h16M4 18h16"></path>
					</svg>
				</label>
			</div>
			<div class="flex-1 px-2 mx-2">
				<a href="{% url 'home_view' %}" class="text-lg font-bold align-middle">
					PM2SIM
				</a>
			</div>
			<div class="flex-none hidden lg:block z-10">
				<ul class="menu menu-horizontal">
					<li><a href="{% url 'eventlogList' %}">Event Logs</a></li>
				</ul>
			</div>
		</div>
		<!-- Page content here -->
		<main class="p-4 w-full break-words hyphens-auto">
			{% block content %}
				Content
			{% endblock %}
		</main>
	</div>
	<div class="drawer-side">
		<label for="drawer" class="drawer-overlay"></label>
		<ul class="menu p-4 w-80 min-h-full bg-base-200">
			<li><a href="{% url 'eventlogList' %}">Event Logs</a></li>
		</ul>
	</div>
</div>
</body>
</html>
