{% extends 'base.html' %}

{% block content %}
	<form method="post" enctype="multipart/form-data">
	{%  csrf_token %}
		{{ form }}
		<button class="btn btn-primary" type="submit">Speichern</button>
	</form>
{% endblock %}