{% extends "base.html" %}

{% block content %}
	<a class="btn" href="{% url 'createEventLog' %}">Neuen erstellen</a>
	<ul>
{% for eventlog in object_list %}
	<li>{{ eventlog.name }}<a class="btn" href="{% url 'eventlogDetail' eventlog.id %}">Details</a></li>
{% empty %}
	<li>Keine Event Logs verfügbar</li>
{% endfor %}
	</ul>
{% endblock %}