{% extends "base.html" %}

{% block content %}
	<div class="card w-96 bg-base-100 shadow-xl">
		<div class="card-body">
			<h2 class="card-title">Wirklich löschen?</h2>
			<p>Soll {{ object.name }} wirklich gelöscht werden?</p>

			<div class="card-actions justify-end">
				<a href="{% url "eventlogDetail" object.id %}" class="btn btn-success">Nein</a>
				<form method="post">{% csrf_token %}
					{{ form }}
					<button type="submit" class="btn btn-error">Ja</button>
				</form>
			</div>
		</div>
	</div>
{% endblock %}