{% extends 'base.html' %}
{% load orSkeleton %}
{% load deviation %}

{% block content %}
	<h1 class="text-4xl font-bold">{{ eventlog.name }}</h1>
	<p>{{ eventlog.number_of_cases|orSkeleton:10 }} verschiedene Fälle</p>
	<p>Start Activities: {{ eventlog.start_activities|orSkeleton:40 }}</p>
	<p>End Activities: {{ eventlog.end_activities|orSkeleton:40 }}</p>
	<a class="btn btn-secondary" href="{% url "analyseEventLog" eventlog.id %}">Original Eventlog analysieren</a>
	<a class="btn btn-secondary" href="{% url "simulateEventLog" eventlog.id %}">Simulieren</a>
	<a class="btn btn-error" href="{% url "deleteEventLog" eventlog.id %}">Löschen</a>

	{% if eventlog.process_img %}
		<div class="card shadow-xl mt-2">
			<div class="card-body">
				<h2 class="card-title">BPMN Model des originalen Event Logs</h2>
				<div class="card-actions justify-end">
					{% if eventlog.file %}
						<a class="btn btn-neutral" href="{{ eventlog.file.url }}" target="_blank">Download Event Log</a>
					{% endif %}
				</div>
			</div>
			<a href="{{ eventlog.process_img.url }}">
				<figure>
					<img src="{{ eventlog.process_img.url }}" alt="BPMN Model des originalen Event Logs">
				</figure>
			</a>
		</div>
	{% endif %}

	{% for sim_run in eventlog.simulationrun_set.all %}
		<div class="collapse collapse-arrow bg-base-200 mt-4">
			<input type="checkbox" />
			<div class="collapse-title text-xl font-medium">Simulationdurchlauf am {{ sim_run.timestamp }}</div>
			<div class="collapse-content">
				<p>Dauer: {{ sim_run.duration }} Sekunden</p>

				<a class="btn btn-secondary" href="{% url "analyseSimulatedEventLog" eventlog.id sim_run.id %}">
					Simulierten Eventlog analysieren
				</a>
				<a class="btn btn.error" href="{% url "deleteSimulationRun" sim_run.id %}">Löschen</a>
				{% if sim_run.simulated_process_img %}
					<div class="card shadow-xl mt-2">
						<div class="card-body">
							<h2 class="card-title">BPMN Model des simulierten Event Logs</h2>
							<div class="card-actions justify-end">
								{% if sim_run.simulated_event_log %}
									<a class="btn btn-neutral" href="{{ sim_run.simulated_event_log.url }}"
									   target="_blank">Download Generated Event Log</a>
								{% endif %}
							</div>
						</div>
						<a href="{{ sim_run.simulated_process_img.url }}">
							<figure>
								<img src="{{ sim_run.simulated_process_img.url }}"
								     alt="BPMN Model vom simulierten Event Log">
							</figure>
						</a>
					</div>
				{% endif %}

				{% if sim_run.event_times.all %}
					<div class="card shadow-xl mt-2">
						<div class="card-body">
							<h2 class="card-title">Dauer der einzelnen Events</h2>
							<table class="table table-zebra">
								<!-- head -->
								<thead>
								<tr>
									<th></th>
									<th>Name</th>
									<th>Durchschnittsdauer (Original)</th>
									<th>Durchschnittsdauer (Simuliert)</th>
									<th>Standardabweichung (Original)</th>
									<th>Standardabweichung (Simuliert)</th>
								</tr>
								</thead>
								<tbody>
								{% for event in sim_run.event_times.all %}
									<tr>
										<th>{{ index }}</th>
										<th>{{ event.name }}</th>
										<th>{{ event.mean_time_o|floatformat:"3g" }}</th>
										<th>{{ event.mean_time_s|floatformat:"3g" }}
											({% dev_perc event.mean_time_s event.mean_time_o %})
										</th>
										<th>{{ event.std_deviation_o|floatformat:"3g" }}</th>
										<th>{{ event.std_deviation_s|floatformat:"3g" }}
											({% dev_perc event.std_deviation_s event.std_deviation_o %})
										</th>
									</tr>
								{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				{% endif %}

				<div class="card shadow-xl">
					<div class="card-body">
						<h2 class="card-title">Zeit zwischen zwei Prozessdurchläufen</h2>
						<p>Durchschnitt: Original: {{ sim_run.start_time_mean_o|floatformat:"3g" }} | Simuliert:
							{{ sim_run.start_time_mean_s|floatformat:"3g" }}
							({% dev_perc sim_run.start_time_mean_s sim_run.start_time_mean_o %})</p>
						<p>Standardabweichung: Original: {{ sim_run.start_time_std_o|floatformat:"3g" }} | Simuliert:
							{{ sim_run.start_time_std_s|floatformat:"3g" }}
							({% dev_perc sim_run.start_time_std_s sim_run.start_time_std_o %})</p>
					</div>
				</div>

				{% if sim_run.eventchangestat_set.all %}
					<div class="card shadow-xl">
						<div class="card-body">
							<h2 class="card-title">Pfadwahrscheinlichkeiten</h2>
							<div class="collapse collapse-arrow bg-base-200 mt-4">
								<input type="checkbox" />
								<div class="collapse-title text-xl font-medium">Ausklappen</div>
								<div class="collapse-content">
									<ul>
										{% for event_change_stat in sim_run.eventchangestat_set.all %}
											<li>
												<strong>{{ event_change_stat.name }} -></strong>
												<ul>
													{% for metric in event_change_stat.eventchangestatmetric_set.all %}
														<li>
															<strong>{{ metric.name }}:</strong>
															Original: {{ metric.value_o|floatformat:"3g" }} |
															Simuliert: {{ metric.value_s|floatformat:"3g" }}
															({% dev_perc metric.value_s metric.value_o %})</p>
														</li>
													{% endfor %}
												</ul>
											</li>
										{% endfor %}
									</ul>
								</div>
							</div>
						</div>
					</div>
				{% endif %}

				{% if sim_run.evaluation_results %}
					{% for result in sim_run.evaluation_results.all %}
						<div class="card shadow-xl mt-2">
							<div class="card-body">
								<h2 class="card-title">Übereinstimmung des simulierten Event Logs mit dem originalen
									Prozess
									Modell</h2>
								<div class="flex flex-row gap-4">
									<div class="card shadow-xl">
										<div class="card-body">
											<h3 class="card-title">Alignment Analyse</h3>
											<div class="stats shadow">
												<div class="stat">
													<div class="stat-title">Präzession</div>
													<div class="stat-value">
														{{ result.al_sim_log_on_orig_mod_precision|floatformat }}</div>
													<div class="stat-desc">pro Prozess</div>
												</div>
												<div class="stat">
													<div class="stat-title">Passende Prozesse</div>
													<div class="stat-value">
														{{ result.al_sim_log_on_orig_mod_perc_fit_traces|floatformat }}</div>
													<div class="stat-desc">in %</div>
												</div>
												<div class="stat">
													<div class="stat-title">Prozess Alignment</div>
													<div class="stat-value">
														{{ result.al_sim_log_on_orig_mod_av_trace_fitness|floatformat }}</div>
													<div class="stat-desc">Durchschnittlich</div>
												</div>
											</div>
										</div>
									</div>
									<div class="card shadow-xl">
										<div class="card-body">
											<h3 class="card-title">Token Replay Analyse</h3>
											<div class="stats shadow">
												<div class="stat">
													<div class="stat-title">Präzession</div>
													<div class="stat-value">
														{{ result.tr_sim_log_on_orig_mod_precision|floatformat }}</div>
													<div class="stat-desc">pro Prozess</div>
												</div>
												<div class="stat">
													<div class="stat-title">Passende Prozesse</div>
													<div class="stat-value">
														{{ result.tr_sim_log_on_orig_mod_perc_fit_traces|floatformat }}</div>
													<div class="stat-desc">in %</div>
												</div>
												<div class="stat">
													<div class="stat-title">Prozess Alignment</div>
													<div class="stat-value">
														{{ result.tr_sim_log_on_orig_mod_av_trace_fitness|floatformat }}</div>
													<div class="stat-desc">Durchschnittlich</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="card shadow-xl mt-2">
							<div class="card-body">
								<h2 class="card-title">Übereinstimmung des originalen Event Logs mit dem simulierten
									Prozess
									Modell</h2>
								<div class="flex flex-row gap-4">
									<div class="card shadow-xl">
										<div class="card-body">
											<h3 class="card-title">Alignment Analyse</h3>
											<div class="stats shadow">
												<div class="stat">
													<div class="stat-title">Präzession</div>
													<div class="stat-value">
														{{ result.al_orig_log_on_sim_mod_precision|floatformat }}</div>
													<div class="stat-desc">pro Prozess</div>
												</div>
												<div class="stat">
													<div class="stat-title">Passende Prozesse</div>
													<div class="stat-value">
														{{ result.al_orig_log_on_sim_mod_perc_fit_traces|floatformat }}</div>
													<div class="stat-desc">in %</div>
												</div>
												<div class="stat">
													<div class="stat-title">Prozess Alignment</div>
													<div class="stat-value">
														{{ result.al_orig_log_on_sim_mod_av_trace_fitness|floatformat }}</div>
													<div class="stat-desc">Durchschnittlich</div>
												</div>
											</div>
										</div>
									</div>
									<div class="card shadow-xl">
										<div class="card-body">
											<h3 class="card-title">Token Replay Analyse</h3>
											<div class="stats shadow">
												<div class="stat">
													<div class="stat-title">Präzession</div>
													<div class="stat-value">
														{{ result.tr_orig_log_on_sim_mod_precision|floatformat }}</div>
													<div class="stat-desc">pro Prozess</div>
												</div>
												<div class="stat">
													<div class="stat-title">Passende Prozesse</div>
													<div class="stat-value">
														{{ result.tr_orig_log_on_sim_mod_perc_fit_traces|floatformat }}</div>
													<div class="stat-desc">in %</div>
												</div>
												<div class="stat">
													<div class="stat-title">Prozess Alignment</div>
													<div class="stat-value">
														{{ result.tr_orig_log_on_sim_mod_av_trace_fitness|floatformat }}</div>
													<div class="stat-desc">Durchschnittlich</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					{% endfor %}
				{% endif %}
			</div>
		</div>
	{% endfor %}
{% endblock %}

<div class="w-40 w-10 skeleton h-4 hidden">Tailwind workaround</div>
